/*universal selector*/
* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

/*type selector*/
h1 {
	font-size: 24px;
}

/*id selector*/
#external-style {
	color: #9c27b0;
}

#h2-with-id {
	text-transform: uppercase;
}

/*class selector*/
.language-item {
	background-color: #f0f0f0;
}

/*attribute selector*/
li[name] {
	border: 1px solid #cccccc;
}

/*adjacent sibling selector*/
img + ul {
	list-style-type: square;
}

/*descendant selector*/
section img {
	width: 100px;
	height: 100px;
	border-radius: 25px;
}

/*generic sibling selector*/
ul ~ p {
	text-align: center;
}

/*child selector*/
section > ul > li {
	letter-spacing: 3px;
}